html,
body,
#app {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

:-moz-focusring {
  outline: none;
}

.no-more-tip-button {
  color: var(--el-color-warning);
  cursor: pointer;

  &:hover {
    color: var(--el-color-warning-light-5);
  }
}

.radio-group-transparent.el-radio-group {
  .el-radio-button {
    --el-radio-button-checked-bg-color: transparent;
    --el-radio-button-checked-text-color: var(--el-color-primary);
    --el-radio-button-checked-border-color: transparent;

    .el-radio-button__inner {
      padding-right: 2em;
      padding-left: 0;
      background-color: transparent;
      border: 0;
    }
  }
}

.radio-content-with-icon {
  display: flex;
  align-items: center;

  span {
    margin-left: 0.4em;
  }

  .radio-icon {
    font-size: 1.5em;
  }
}

.options-main {
  .markdown-body {
    .options-about {
      &-qq-qrcode {
        &,
        &-dark {
          width: 233px;
        }

        &-dark {
          display: none;
        }
      }
    }
  }
}

html.dark {
  .options-main {
    .markdown-body {
      .options-about {
        &-qq-qrcode {
          display: none;

          &-dark {
            display: inline;
            border: 1px solid var(--el-border-color);
            border-radius: 0.5em;
          }
        }
      }
    }
  }
}
