html,
body,
#app {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

:-moz-focusring {
  outline: none;
}

.no-more-tip-button {
  color: var(--el-color-warning);
  cursor: pointer;

  &:hover {
    color: var(--el-color-warning-light-5);
  }
}
