img[src^='/static/emoji'],
img[src^="https://face.t.sinajs.cn"],
img[src^="https://img.whzxc.cn/bd"]
{
  width: 1.22em !important;
  height: 1.22em !important;
  vertical-align: -0.214em !important;
}
