@import 'mixin';

img[src^='/static/emoji'],
img[src^="https://face.t.sinajs.cn"],
img[src^="https://img.whzxc.cn/bd"]
{
  width: 1.22em !important;
  height: 1.22em !important;
  vertical-align: -0.214em !important;
}

.markdown-body {
  --base-size-8: 8px;
  --base-size-16: 16px;

  h1,
  h2 {
    border-bottom: none;
  }

  code {
    color: #1f2328;
  }

  ol ol,
  ul ol {
    list-style-type: decimal;
  }

  & > .task-list {
    padding-left: 0;
  }

  .task-list-item {
    input[type='checkbox'] {
      margin-right: 5px;
    }
  }
}

.hide-gzk-logo {
  .navbar-brand > img {
    @include blur-element;
  }
}

.hide-profile {
  .navbar-right a[href^='/u/'] {
    @include blur-element;
  }

  .usercard,
  .profile {
    img.avatar,
    .username {
      @include blur-element;
    }
  }
}
