@import 'mixin';

img[src^='/static/emoji'],
img[src^="https://face.t.sinajs.cn"],
img[src^="https://img.whzxc.cn/bd"]
{
  width: 1.22em !important;
  height: 1.22em !important;
  vertical-align: -0.214em !important;
}

.markdown-body {
  --base-size-8: 8px;
  --base-size-16: 16px;

  h1,
  h2 {
    border-bottom: none;
  }

  hr {
    height: 0.1em;
  }

  code {
    color: #1f2328;
  }

  ol ol,
  ul ol {
    list-style-type: decimal;
  }

  & > .task-list {
    padding-left: 0;
  }

  .task-list-item {
    input[type='checkbox'] {
      margin-right: 5px;
    }
  }
}

.hide-gzk-logo {
  .navbar-brand > img {
    @include blur-element;
  }
}

.hide-profile {
  .navbar-right a[href^='/u/'] {
    @include blur-element;
  }
}

.hide-topic {
  height: 100%;

  & > body > {
    div.google-auto-placed,
    div.container,
    div.footer {
      display: none;
    }
  }
}

.gzk-create-btn {
  position: relative;

  div.i-mdi-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
  }

  &-loading {
    pointer-events: none;

    &::before {
      position: absolute;
      inset: -1px;
      z-index: 1;
      pointer-events: none;
      content: '';
      border-radius: inherit;
    }

    span,
    div.i-mdi-lead-pencil {
      opacity: 0;
    }

    div.i-mdi-loading {
      display: block;
      animation: gzk-loading-rotate 0.5s linear infinite;
    }
  }
}

@keyframes gzk-loading-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

html.dark {
  .markdown-body {
    code {
      color: var(--el-text-color-regular);
    }
  }

  .emoji-mart {
    background: transparent;

    .emoji-mart-anchor:hover {
      color: var(--el-text-color-primary);
    }

    .emoji-mart-category-label h3 {
      color: var(--el-text-color-primary);
      background-color: transparent;
    }

    .emoji-mart-category {
      .emoji-mart-emoji {
        &:hover::before,
        &.emoji-mart-emoji-selected::before {
          background-color: rgb(255 255 255 / 20%);
        }
      }
    }

    .emoji-mart-preview-name {
      color: var(--el-text-color-primary);
    }

    .emoji-mart-preview-shortname {
      color: var(--el-text-color-secondary);
    }
  }
}
